/*++++++++++++++++++++GLOBAL++++++++++++++++++++*/
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

}
main{
    display: grid;
}
/*++++++++++++++++++++LOCAL/*++++++++++++++++++++*/
header{
    text-align: center;
    background-color: bisque;
    padding-bottom: 100px;
}
section{
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: lightcyan;
    padding-top: 120px;
    

}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

footer{
    display: flex;
    justify-content: right;
    background-color: bisque;
    padding: 100px;
}